.modelMenu{
    margin-right: 15px;
}

.ollama-image{
    max-width: 100px;
    position: absolute;
    bottom: 20px;
    left: 75px;
}

@media (max-width: 800px) {
    .ollama-image{
        max-width: 100px;
        position: absolute;
        bottom: 20px;
        left: 100px;
    }
}
